{% extends 'store/base.html' %}

{% block content %}
<div class="product-detail">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <p>{{ product.description }}</p>
    <h2>Price: Rs{{ product.price }}</h2>

    <!-- Order Form -->
    <h2>Order</h2>
    <form method="POST" action="{% url 'product_detail' product.id %}">
        {% csrf_token %}
        {{ order_form.as_p }}
        <button type="submit" name="order_submit">Place Order</button>
    </form>

    <!-- Add to Cart Section -->
    <h2>Add to Cart</h2>
    <form method="post" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
    </form>

    <!-- Reviews Section -->
    <div class="reviews">
        <h2>Reviews</h2>
        <ul>
            {% for review in reviews %}
                <li>{{ review.user.username }}: {{ review.comment }} - Rating: {{ review.rating }}</li>
            {% empty %}
                <li>No reviews yet.</li>
            {% endfor %}
        </ul>

        {% if is_logged_in %}
            <h3>Add a Review</h3>
            <form method="post" action="{% url 'product_detail' product.id %}">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button type="submit" name="review_submit">Submit Review</button>
            </form>
        {% else %}
            <p>You must be logged in to submit a review.</p>
        {% endif %}
    </div>





</div>
{% endblock %}
